/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/*--------------------------
         common styles 
 ----------------------------*/
 *{
     margin: 0;
     padding: 0;
     outline: 0;
 }
 a{
     text-decoration: none;
 }
 ul, ol {
     list-style-type: none;
 }
 img {
     width: 100%;
 }
 .full-wrapper {
     width: 100%;
 }
 .wrapper {
     width: 960px;
     margin: 0 auto;
 }
 body {
    font-family: 'Poppins', sans-serif;
 }
 /* header part css */

 .header-bg {
     background-color: #2D25A0;
     height: 605px;
 }
 .nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 38px;
 }
 .menu ul{
     display: flex;
 }
 .menu li {
     padding: 10px 18px;
 }
 .menu li:first-child {
     padding-left: 0;
 }
 .menu li a {
     color: #fff;
     font-size: 16px;
 }
 .button {
     display: flex;
     flex-direction: row;
     width: 123px;
     height: 44px;
     background-color: #E02C6D;
     justify-content: center;
     align-items: center;
 }
 .button img {
    width: 24px;
    height: 24px;
    margin-top: 7px;
}
 .btn-submit{
     margin-left: 8px;
     border: none;
     background-color: #E02C6D;
     font-size: 16px;
     color: #fff;
     text-decoration: none;
     cursor: pointer; 
 }
 .heading-details {
     display: flex;
     padding-top: 50px;
 }
 .heading-title h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    color: #fff;
    margin-top: 110px;
 }
 .header-icon {
     background-color: #E02C6D;
     height: 35px;
     width: 148px;
     text-align: center;
     padding-top: 10px;
     margin-top: 27px;
 }
 .header-icon button {
     font-size: 16px;
     color: #fff;
     margin-right: 10px;
 }
 .header-btn {
     border: none;
     background-color: #E02C6D;

 }
 .header-icon i {
     color: #fff;
     font-size: 16px;
 }
 .heading-banner img {
     height: 440px;
     width: 556px;
 }
 .heading-banner {
     margin-left: 102px;
 }
  /*--------------------- 
       main section css 
------------------------*/
.players-main {
    margin-top: 50px;
}
.player-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    
}
.players {
    box-shadow: 5px 5px 15px 20px #f0eded;
    border: 15px solid #fff;
    border-radius: 5px;
    
}
/* .players:hover .player-image {
    transform: scale(1.3);
    
}
.player-image {
    transition: transform 2s ease;
} */
.player-image img {
    width: 300px;
    height: 255px;
    border-radius: 5px;
}
.player-details h2 {
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
    margin-top: 10px;
    margin-bottom: 10px;
}
.player-details p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/*-----------------------------------
          information part  
-------------------------------------*/
.copa-information {
    display: flex;
    margin-top: 80px;
}
.copa-info-item {
    margin-top: 25px;
    margin-right: 35px;
}
.copa-info-item h2 {
    font-size: 37px;
    font-weight: 700;
}
.copa-info-item p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.copa-button {
    width: 173px;
    background-color: #E02C6D;
    border-radius: 10px;
    margin-top: 20px;
}
.copa-button button {
    padding: 20px 0px;
    font-size: 16px;
    font-weight: 400;
    color: #fff ;
    background-color: #E02C6D;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.copa-btn {
    border: none;
    
}
.copa-button i {
    color: #fff;
    font-size: 16px;
}

.copa-image img {
    height: 427px;
    width: 567px;
}
.image-item {
    width: 100%;
}
 /*--------------------- 
       footer part 
------------------------*/
.footer-start {
    margin-top: 140px;
    margin-bottom: 150px;
}
.footer-part-main {
    display: grid;
    justify-content: center;
}
.footer-image img {
    height: 110px;
    width: 484px;
}
.footer-icon {
    padding: 20px 160px;
    display: flex;
}
.footer-icon i {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    font-size: 17px;
    color: #969BAB; 
    height: 32px;
    width: 32px;
    background-color: rgba(159, 163, 177, 0.5);
    border-radius: 50%;   
}
.footer-end p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.footer-end i {
    font-size: 12px;
}
 /*--------------------- 
       media quaries 
------------------------*/

 /* mobile devices */
 @media only screen and (max-width:688px) {
     .wrapper {
         width: 100%;
     }
     .nav {
         display: none;
     }
     .header-bg {
        background-color: #2D25A0;
        height: 670px;
    }
    .heading-details {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 50px;
    }
    .heading-title {
        margin-left: 50px;
        margin-top: 0px;
    }
    .heading-banner {
        padding-top: 50px;
        margin-left: 0px;
    }
    .heading-banner img{
        height: 260px;
        width: 330px;
    }
    .players {
        width: 330px;
        height: 426px;
    }
    .player-image {
        height: 256px;
    }
    .player-image img {
        height: 100%;
        width: 100%;
    }
    .player-info {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        margin-left: 25px;
    }
    .copa-information {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        grid-row-gap: 30px;
        align-items: center;
        margin-top: 60px;
    }
    .copa-info-item {
        height: 299px;
        width: 330px;
    }
    .copa-info-item h2 {
        font-size: 34px;
    }
    .copa-image img {
        height: 246px;
        width: 330px;
    }
    .footer-image img{
        height: 90px;
        width: 306px;
        margin-left: 83px;
    }
    
 }